body {
  padding: 2em;
  font-family: Helvetica, Arial, Sans-Serif;
  line-height: 1.5;
  color: #000;
  background: #fff;
}

p {
  max-width: 480px;
  margin: 1em auto;
}

.test-large-screens {
  display: none;
}

@media all and (min-width: 768px) {
  .test-large-screens {
    display: block;
  }
  .test-small-screens {
    display: none;
  }
}
